<div id="about" class="container">
  <h1>My name is Subhashini Sundaresan</h1>
  <p style="font-weight: 400;">I'm a Front End Developer. This website is my simple personal Porfolio project built using MEAN 2 (MongoDB, Express, Angular2 - rc5, NodeJS) to wrap up my mind on the skills i've learned.
    Look at this crazy, arbitrary list of things I know with various levels of proficiency and that happen to be available in the Devicons icon font!</p>
  <br>
  <br>
  <div class="app-block center">
    <i class="devicons devicons-html5" title="HTML5">
      <span class="screen-reader-text">HTML5</span>
    </i>
    <i class="devicons devicons-css3" title="CSS3">
      <span class="screen-reader-text">CSS3</span>
    </i>
    <i class="devicons devicons-bootstrap" title="Bootstrap">
      <span class="screen-reader-text">Bootstrap framework</span>
    </i>
    <i class="devicons devicons-wordpress" title="Wordpress">
      <span class="screen-reader-text">Wordpress CMS</span>
    </i>
    <i class="devicons devicons-javascript" title="JavaScript">
      <span class="screen-reader-text">JavaScript</span>
    </i>
    <i class="devicons devicons-jquery" title="jQuery">
      <span class="screen-reader-text">jQuery</span>
    </i>
    <i class="devicons devicons-angular" title="AngularJS">
      <span class="screen-reader-text">AngularJS</span>
    </i>
    <i class="devicons devicons-nodejs" title="Node.js">
      <span class="screen-reader-text">Node.js</span>
    </i>
    <i class="devicons devicons-npm" title="NPM">
      <span class="screen-reader-text">NPM, the Node Packet Manager</span>
    </i>
    <i class="devicons devicons-sublime" title="Sublime Text 3">
      <span class="screen-reader-text">Sublime Text 3</span>
    </i>
    <i class="devicons devicons-terminal" title="command line">
      <span class="screen-reader-text">the command line</span>
    </i>
    <i class="devicons devicons-git" title="GIT">
      <span class="screen-reader-text">GIT version control</span>
    </i>
    <i class="devicons devicons-vim" title="Vim">
      <span class="screen-reader-text">Vim text editor</span>
    </i>
    <i class="devicons devicons-heroku" title="Heroku">
      <span class="screen-reader-text">Heroku app deployment</span>
    </i>
    <i class="devicons devicons-jenkins" title="Jenkins">
      <span class="screen-reader-text">Jenkins</span>
    </i>
    <i class="devicons devicons-gulp" title="Gulp">
      <span class="screen-reader-text">Gulp</span>
    </i>
    <i class="devicons devicons-intellij" title="IntelliJ">
      <span class="screen-reader-text">IntelliJ</span>
    </i>
    <i class="devicons devicons-ionic" title="Ionic">
      <span class="screen-reader-text">Ionic</span>
    </i>
    <i class="devicons devicons-mongodb" title="MongoDB">
      <span class="screen-reader-text">MongoDB</span>
    </i>
    <i class="devicons devicons-sass" title="SASS">
      <span class="screen-reader-text">SASS</span>
    </i>
    <i class="devicons devicons-less" title="LESS">
      <span class="screen-reader-text">LESS</span>
    </i>
    <i class="devicons devicons-jira" title="JIRA">
      <span class="screen-reader-text">JIRA</span>
    </i>
    <i class="devicons devicons-google_analytics" title="Google Analytics">
      <span class="screen-reader-text">Google Analytics</span>
    </i>
  </div>
